html,
body {
  scroll-behavior: smooth;
  scroll-padding: 16px;
  scrollbar-gutter: stable;
}

// Remove blue highlight from mobile users
@media screen and (max-width: 1024px) {
  * {
    -webkit-tap-highlight-color: transparent;
  }
}

// Add a smooth fade in effect to the body

body {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

